.small-logo{
    padding: 25px 40px;
}
.hamburger{
    padding: 22px 30px;
}
.off{
    top: 80px;
    left: -1024px;
}
@media (orientation: landscape) and (min-width: 1025px){
#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hamburger{
    display: none;
}
.off{
    top: 80px;
    left: 0px;
}
.navigation{
    width: 60%;
    height: 80px;
}
#nav-items{
    flex-direction: row;
   
}
}


